<!DOCTYPE html>
<html lang="en" >

<head>
  <title>Data chart</title>
  <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="../../stylesheets/style.css">
<!-- Para el DATA RANGE -->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
<!-- MENU -->
<div class="menu">
	<i class="fa fa-bars fa-3x"></i>
</div>
<div id="toolbar">
  <div class="wrapper">
    <div class="tool">
      <i class="fa fa-cog top fa-2x"></i>
      <a href="/" class="title">Menu</a>
    </div>
        <div class="first">
      <ul>
        <li class="menu" onclick="window.location='/altillo';">
          <div class="tool-change-background">
            <i class="fa fa-plus"></i>
            <a  class="new-card">Altillo</a>
          </div>
      </li>
      <li class="menu"  onclick="window.location='/sala';">
        <div class="tool-change-background">
          <i class="fa fa-plus"></i>
          <a  class="new-card"> Sala</a>
        </div>
    </li>
    <li class="menu" id="current" onclick="window.location.reload()">
      <div class="tool-change-background">
        <i class="fa fa-plus"></i>
        <a class="new-card">Armario eléctrico</a>
      </div>
  </li >
  <li class="menu" onclick="window.location='/cocina';">
    <div class="tool-change-background">
      <i class="fa fa-plus"></i>
      <a class="new-card">Cocina</a>
    </div>
</li>
</ul>
</div>


<div class="cfg">
  <i class="fa fa-cog top fa-2x"></i>
  <a href="#" class="title">Configuración</a>
</div>
<div class="first">

<ul>
         <li><!--ELEGIR RANGO DE FECHAS -->
            <div class="tool-add-image">
              <i class="fa fa-calendar"></i>
              <a href="#">Date</a>
            <input type="text" id="datepicker" name="daterange" value="01/01/2018 - 01/15/2018" />
            </div>
        </li>
        <li><!--SLIDER PARA LA EFICIENCIA -->
            <div class="tool-change-background">
              <i class="fa fa-recycle"></i>
              <a href="">Efficiency</a></div><p id="ef"><span id="demo"></span> %</p>
              <div class="slidecontainer">
              <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
            <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
            </script>
            </div>
        </li>
          <li><!-- ESTADO DE DISPOSITIVOS -->
            <div class="tool-change-background">
              <i class="fa fa-plus"></i>
              <a href="" onclick="return false;" class="new-card">Status</a>
            </div>
        </li>
          <li><!-- CONSUMO ENERGETICO -->
            <div class="tool-change-background">
              <i class="fa fa-battery-half fa-1x"></i>
              <a href="" onclick="return false;" class="new-card">Energy cosumption</a>
            </div>
        </li>

      </ul>
    </div>
  </div>
</div>

  <!-- PARA DATA RANGE -->
      <script>
      $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
      });
      </script>


            <header id="hea">
              <nav>
                <ul>
                  <div class="time"> Última conexión:   <%= time %></div>
                </ul>
                <img src = "../../images/uc3m.png" width =240 class='logo'>
              </nav>
            </header>



    <!-- <div id="chart3" class="chart">    <h2>Armario Eléctrico</h2>
</div> -->

<div id="chartpost" class = "charto" >
  <h2>Armario</h2>

    <%include jsdomarmario %>
</div>
</body>

    <script  src="../../javascripts/armario.js"></script>


</html>
