<!--
<div id="sticky">
  <div class="wrapper">
    <nav>
      <ul>
        <img src = "../../images/home-icon.png" width =60 onclick="window.location='/';">

        <li onclick="window.location='/armario';"><div class="thread">Armario</div></li>
        <li class="this" onclick="window.location.reload()"><div class="thread">Sala</div></li>
        <li  onclick="window.location='/cocina';"><div class="thread">Cocina</div></li>
        <li  onclick="window.location='/altillo';"><div class="thread">Altillo</div></li>
      </ul>
    </nav>
  </div>
</div> -->


<header id="hea">
  <nav>
    <ul>
      <div class="time"> Última conexión:    <%=time%>  </div>
    </ul>
    <img src = "../../images/uc3m.png" width =240 class='logo'>
  </nav>
</header>
