<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Spear</title>
      <link rel="stylesheet" type="text/css" href="../../stylesheets/istyle.css">
      <link rel="stylesheet" href="../../stylesheets/style.css">

</head>
<body>
  <div id="toolbar">
    <div class="wrapper">
      <div class="tool">
        <i class="fa fa-cog top fa-2x"></i>
        <a href="/" class="title">Menu</a>
      </div>
          <div class="first">
        <ul>
          <li class="menu" onclick="window.location='/altillo';"><!-- ESTADO DE DISPOSITIVOS -->
            <div class="tool-change-background">
              <i class="fa fa-plus"></i>
              <a  class="new-card">Altillo</a>
            </div>
        </li>
        <li class="menu" onclick="window.location.reload()"><!-- ESTADO DE DISPOSITIVOS -->
          <div class="tool-change-background">
            <i class="fa fa-plus"></i>
            <a  class="new-card"> Sala</a>
          </div>
      </li>
      <li class="menu" onclick="window.location='/armario';"><!-- ESTADO DE DISPOSITIVOS -->
        <div class="tool-change-background">
          <i class="fa fa-plus"></i>
          <a class="new-card">Armario eléctrico</a>
        </div>
    </li >
    <li class="menu" onclick="window.location='/cocina';"><!-- ESTADO DE DISPOSITIVOS -->
      <div class="tool-change-background">
        <i class="fa fa-plus"></i>
        <a class="new-card">Cocina</a>
      </div>
  </li>
  </ul>
  </div>
  <div class="first">


  <div class="cfg">
    <i class="fa fa-cog top fa-2x"></i>
    <a href="#" class="title">Configuración</a>
  </div>
  <ul>
           <li><!--ELEGIR RANGO DE FECHAS -->
              <div class="tool-add-image">
                <i class="fa fa-calendar"></i>
                <a href="#">Date</a>
              <input type="text" id="datepicker" name="daterange" value="01/01/2018 - 01/15/2018" />
              </div>
          </li>
          <li><!--SLIDER PARA LA EFICIENCIA -->
              <div class="tool-change-background">
                <i class="fa fa-recycle"></i>
                <a href="">Efficiency</a></div><p id="ef"><span id="demo"></span> %</p>
                <div class="slidecontainer">
                <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
              <script>
              var slider = document.getElementById("myRange");
              var output = document.getElementById("demo");
              output.innerHTML = slider.value;

              slider.oninput = function() {
                output.innerHTML = this.value;
              }
              </script>
              </div>
          </li>
            <li><!-- ESTADO DE DISPOSITIVOS -->
              <div class="tool-change-background">
                <i class="fa fa-plus"></i>
                <a href="" onclick="return false;" class="new-card">Status</a>
              </div>
          </li>
            <li><!-- CONSUMO ENERGETICO -->
              <div class="tool-change-background">
                <i class="fa fa-battery-half fa-1x"></i>
                <a href="" onclick="return false;" class="new-card">Energy cosumption</a>
              </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <% include header%>


<div id="plan">
  <div class="start"></div>
  <div class="room">
    <div class="h">
       <p class="roomName">Entrada</p>
       <div class="door"></div>
       </div>

  </div>

   <div class="room">
     <a href="/altillo" style="text-decoration:none">
       <div class="c right">
         <div class="tooltip">
               <h4>33%</h4>
         </div>
         <p class="roomName">Altillo</p>
         <div class="door"></div>
       </div>
     </a>
  </div>

  <div class="room">
    <a href="/cocina" style="text-decoration:none">
      <div class="ae left">
        <div class="tooltip">
              <h4>73%</h4>
           </div>
         <p class="roomName">Cocina</p>
         <div class="door"></div>
        </div>
     </a>
  </div>

  <div class="room">
    <a href="/armario" style="text-decoration:none">
      <div class="alti left">
        <div class="tooltip">
              <h4>86%</h4>
            </div>
         <p class="roomName">Armario Eléctrico</p>
         <div class="door"></div>
       </div>
   </a>
  </div>
  <div class="room">
    <a href="/sala" style="text-decoration:none">
      <div class="s right">
  		<div class="tooltip">
            <h4>77% </h4>
          </div>
         <p class="roomName">Sala</p>
         <div class="door"></div>
       </div>
     </a>
  </div>
</div>



</body>

</html>
