body{
 background: #F9F9F9;
 margin:0;
 font-family:sans-serif;
}
svg {
    font-family: Sans-Serif, Arial;
    width: 90%;
    margin-top: 20px;
    padding-top: 20px;
}
.line {
  stroke-width: 2;
  fill: none;
}
.graphs{
}
.chart{
  border: 1px solid #F5F5F1;
  box-shadow: 5px 2px 2px #F0F0F0;
  width: 92%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 6%;
  background: white;
}


h2{
  margin-left: 15px;
  color: #4D4D4D;
}
h4{
  margin-left: 30px;
}
.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}
.axis_temp{
  fill:red;
}

#toolbar{
  /* float: right !important; */
  width: 240px;
  height: 100%;
  background-color: #2F3333;
  display: block;
  padding-top: 10px;
  transition: .1s;
  box-shadow: 1px 0px 4px #212424;
  position: fixed;
left:0;
}
#toolbar .wrapper .first{
  width: 100%;
  background-color: #3F4545;
  margin: 0 auto;
}
/* #toolbar .wrapper  h2{
	color: #FDFCEC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding-left: 25px;
} */
#toolbar .wrapper .first ul{
  padding: 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

}
.tool{
  background-color: #2F3333 ;
  padding-top: 10px;
  padding-bottom: 20px;

}
#toolbar .wrapper .first ul li{
  list-style-type: none;
  padding: 10px;
  transition: .3s;
  border-bottom: #313636 solid 1px;
}
#toolbar .wrapper .first ul li:hover{
  background-color: #363B3B ;
  /* transition: .3s; */
  /* text-indent:5px; */
}
#toolbar .wrapper a{
  font-weight: 100;
  color: #FDFCEC ;
  text-decoration: none;
  display: inline-block;
}
#toolbar .wrapper .title{
  font-size: 25px;

}
.fa-cog.top{
  padding-left: 10px;
}
.fa-times{
	float: right;
  padding: 10px 10px 10px 10px;
  transition: .3s;
  color: #575E5E !important;
  cursor:pointer;
}
.fa-times:hover{
	color: #fff !important;
  transition: .3s;
}
.fa-bars{
  color: #2F3333 !important;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  cursor:pointer;
   transition: .3s;
opacity:0;
}
.fa-bars:hover{
  color: #575E5E !important;
  transition: .1s;
}
i{
	padding-right: 6px;
}


#toolbar .wrapper a.new-card.activated{
  opacity: .2;
}
.slidecontainer {
  padding-top: 10px;
    width: 60%;
    padding-bottom: 5px;
}

.slider {
     /* -webkit-appearance: none;  */
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3 ;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    appearance: none;
    width: 23px;
    height: 4px;
    border: 0;
    /* background: url('leaf.png');  */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 4px;
    border: 0;
    /* background: url('leaf.png'); */
    cursor: pointer;
}

select {
/* background-image:url(../images/arrow.png); */
/* background-repeat:no-repeat; */
background-position:100px;
width:40%;
padding:5px;
margin-top:8px;
font-family:Cursive;
/* line-height:1; */
border-radius:5px;
background-color:#2F3333;
color:#d3d3d3 !important;
/* font-size:10px; */
/* -webkit-appearance:none; */
box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.6);
outline:none
}
select:hover {
color:#ddd3d3:
}
.daterangepicker{
  color: black !important;
}
.fa{
	color:#d3d3d3;
}
#ef{
  /* float:right; */
  color:white;
  /* width: 20%; */
  /* margin:0; */
  /* padding: 0; */
  padding-left: 25%;
}



#sticky{
  /* float: right !important; */
  width: 60px;
  height: 100%;
  background:linear-gradient(60deg,#0E526E,#116689,#13759D ,#2081AA,#1E8EBC);
  display: inline-block;
  transition: .1s;
  box-shadow: 1px 0px 4px #212424;
  margin-top: 0px;
  position: fixed;

  left:0;
}



img{
  cursor: pointer;
}





header {
	background:linear-gradient(60deg,#0E526E,#116689,#13759D ,#2081AA,#1E8EBC);
  color:white;
  padding-left:0px;
  box-shadow: 1px 0px 4px #212424;

}

header::after {
  content: '';
  display: block;
clear: left;


}

.logo {
  margin-left: 45%;
	padding-top:0px;
}


nav {

}

nav ul {
  margin: 0;
  padding: 0;

}

nav li {
  display: block;
  padding-left:5px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom:10px;
  position: relative;
  cursor:pointer;

}
.time{
  text-decoration: none;
  position: absolute;
  font-size: 13px;
  top:0;
  right:0;
  margin-right: 20px;
  margin-top: 2px;
}
li .thread{
  color: white;
  text-align: center;
  font-size: 14px;
}
.this{
  background-color: #1D2C4F;
}
li a:before{
	  text-decoration: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;

	transition: 0.4s;
}
li a:hover:before {
  text-decoration: none;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
nav li:hover {
  color: #000;
  background:#1D2C4F;
}
